RUNPOD_API_KEY=
RUNPOD_ENDPOINT_ID=
RUNPOD_TEMPLATE_ID=
DRISORA_WORKER_IMAGE=sreekaraditya/drisora-worker:serverless-local

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

APP_CALLBACK_URL=http://localhost:3000
WORKER_WEBHOOK_SECRET=

OBJECT_STORAGE_ENDPOINT_URL=
OBJECT_STORAGE_ACCESS_KEY_ID=
OBJECT_STORAGE_SECRET_ACCESS_KEY=
OBJECT_STORAGE_BUCKET=

DRISORA_DETERMINISTIC_SEED=1337
DRISORA_DETERMINISTIC_EXTRACTOR=1
DRISORA_YOLO_BATCH_SIZE=64

DRISORA_YOLO_WEIGHTS_PATH=worker/weights/yolov12s_rdd2022.pt
DRISORA_YOLO_WEIGHTS_URL=
DRISORA_YOLO_WEIGHTS_SHA256=138d3c738d53fdb9dd53297607bc612a4835c0554d3c1acb3f272d9987ee3cb3

SAM2_MODEL_PATH=/tmp/models/sam2.1_hiera_small.pt
SAM2_MODEL_URL=https://dl.fbaipublicfiles.com/segment_anything_2/092824/sam2.1_hiera_small.pt
SAM2_MODEL_CFG=configs/sam2.1/sam2.1_hiera_s.yaml
SAM2_MODEL_SHA256=6d1aa6f30de5c92224f8172114de081d104bbd23dd9dc5c58996f0cad5dc4d38
