RUNPOD_API_KEY=
RUNPOD_ENDPOINT_ID=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
NEXT_PUBLIC_APP_URL=https://drisora.vercel.app
WORKER_WEBHOOK_SECRET=
CLOUDFLARE_R2_WEBHOOK_SECRET=
CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
DRISORA_DETERMINISTIC_SEED=1337
DRISORA_DETERMINISTIC_EXTRACTOR=1
DRISORA_YOLO_BATCH_SIZE=64
DRISORA_ENABLE_DEPTHPRO_DEFAULT=0
DRISORA_WARM_SAM2=0
SAM2_MODEL_PATH=/tmp/models/sam2.1_hiera_small.pt
SAM2_MODEL_URL=https://dl.fbaipublicfiles.com/segment_anything_2/092824/sam2.1_hiera_small.pt
SAM2_MODEL_CFG=configs/sam2.1/sam2.1_hiera_s.yaml
DEPTHPRO_MODEL_PATH=/tmp/models/depth_pro.pt
DEPTHPRO_MODEL_URL=https://ml-site.cdn-apple.com/models/depth-pro/depth_pro.pt
